<app-header-menu></app-header-menu>

<div class="col-md-12">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let dlr of models">
      <p (click)="isClassVisible = !isClassVisible;">{{dlr.name}}</p>
      <ul class="list-group" [ngClass]="{'my-class': isClassVisible }">
        <li class="list-group-item" *ngFor="let dprt of dlr.departments">
          <p>{{dprt.name}}</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let dpbz of dprt.depbizs">
              <p>
                <a [attr.href]="'http://localhost:3333/m/' + dpbz.biz.slug" target="_blank">
                  {{ dpbz.biz.name }}
                </a>
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>