<app-header-menu></app-header-menu>
<div class="b-actions">
  <div class="col-md-12">
    <form name="form" (ngSubmit)="f.form.valid && addModel(fileupload)" #f="ngForm" novalidate>
      <input type="hidden" class="form-control" name="_id" [(ngModel)]="model._id" #_id="ngModel" />
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Model's name" [(ngModel)]="model.name" #name="ngModel" required
        />
        <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
      </div>
      <div class="form-group">
        <label for="file">File</label>
        <div class="upload-file">
          <input type="file" #fileupload name="file">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Upload</button>
        <button type="reset" class="btn btn-danger" (click)="resetModel()">Reset</button>
      </div>
    </form>
  </div>
</div>

<div class="col-md-12">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let m of models">
      {{m.name}}

      <div class="pull-right" role="group">
        <a [attr.href]="'http://localhost:3333/m/' + m.slug" target="_blank" class="btn btn-primary btn-xs">
          <span class="glyphicon glyphicon-link"></span> LINK
        </a>
        <button class="btn btn-danger btn-xs" (click)="removeModel(m._id)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </li>
  </ul>
</div>