body {
    color: #2b3c71 !important; 
}
a {
    cursor: pointer;
    color: #2b3c71;
}

label {
    font-weight: 400 !important;
}

.help-block {
    font-size: 12px;
}

.btn-success {
    color: #fff;
    background-color: #2b3c71 !important;
    border-color: #2b3c71 !important;
    &:hover {
        background-color: darken(#2b3c71, 3%) !important;
    }
}
.btn-primary {
    background-color: #2b3c71 !important;
    border-color: #2b3c71 !important;
    &:hover {
        background-color: darken(#2b3c71, 3%) !important;
    }
}
.btn-danger {
    background-color: #da2128 !important;
    border-color: #da2128 !important;
    &:hover {
        background-color: darken(#da2128, 3%) !important;
    }
}
/* Login */

.p-login {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: #eeeeee;
    display: flex;
    align-items: center; 
}

.b-login {
    background: #ffffff;
    border: 2px solid #e7e7e7;
    padding: 20px;
    float: left;
    width: 100%; 
}
.b-login h2 {
    margin: 20px 0 0;
    padding: 0 0 20px;
    font-size: 18px;
}

.b-actions {
    float: left;
    width: 100%;
    //background: #e7e7e7;
    margin: -20px 0 20px;
    padding: 20px 0 10px;
}

.list-group {
    width: 100%;
    float: left;
}
.nav > li.active a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.navbar-default {
    background-color: #2b3c71 !important;
    border: none !important;
    border-radius: 0 !important;
    .navbar-nav {
        .active {
            a {
                color: #da2128 !important;
                background-color: #fff !important;
                border-radius: 0 !important;
                font-weight: 600;
            }
        }
    }
    a {
        color: #fff !important;
    }
    .navbar-toggle {
        border-color: #fff;
        span {
            background: #fff !important;
        }
        &:hover {
            background:none !important;
        }
    }
    
}
/*
.upload-file {
    position: relative;
    margin: 10px 0 30px;
    &:before {
        content: "Choose file";
        position: absolute;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 6px 12px;
        pointer-events: none;
        top: -9px;
        cursor: pointer;
    }
    &:hover {
        &:before {
            background-color: darken(#fff, 3%);
        }
    }
    input {
        padding: 0 0 0 22px;
    }
}
*/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}